<turbo-stream action="append" target="flash">
  <template>
    {% for label, messages in app.flashes %}
      {% for message in messages %}
        <div class="alert alert-{{ label }}">{{ message }}</div>
      {% endfor %}
    {% endfor %}
  </template>
</turbo-stream>
